@page
@model StoreManagementWebApp.Pages.StaffPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grocery[0].GroceryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grocery[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grocery[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grocery[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grocery[0].Category)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Grocery) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroceryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
        </tr>
}
    </tbody>
</table>
